/* ユーザー情報テーブル　*/

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}


.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}


#table-users {
  td {
    vertical-align: middle;
  }
}


#btn-edit {
  margin-bottom: 15px;
}

/* ユーザー基本情報　*/

#table-profile {
  td {
    text-align: center;
  }
}

/*　ユーザー勤怠情報 */




#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
    height: 100px;
  }
}

.form-time {
  height: 60px;
}


.index {
  margin-top: 50px;
}


/*ユーザー検索バー  */

.search {
  float: right;
}

.search-form {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
  font-size: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  
}

.search-form:focus {
  border-color: skyblue;
  outline: none;
}


.search-btn {
  display: inline-block;
  height: 30px;
  width: 50px;
  padding: 0 10px;
  vertical-align: top;
  border: none;
  border-radius: 0 5px 5px 0;
}

